{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Pré-Projeto</title>
{% endblock %}

{% block conteudo %}
<section class="content">
    <div class="">
        <h3>Lista</h3>
        <p class="lead">
            Lista de produtos.
        </p>
    </div>

    <div class="table-responsive">
        
        <table class="table table-striped" id="tabela-listar">
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Vendedor</th>
                {% block opcoes %}
                <th>Opções</th>
                {% endblock %}
            </tr>

            {% for produto in object_list %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.usuario }}</td>
                {% block icons %}
                <td>
                    <a href="{% url 'editar-produto' produto.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-produto' produto.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
                {% endblock %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhuma atividade registrado.</td>
            </tr>
            {% endfor %}
    
        </table>
        
    </div>
</section>
{% endblock %}